#head{
    font-size: 100px;
    color: rgb(255, 0, 0);
    text-shadow: 4px 4px 4px rgb(120, 117, 117);
    font-family:Perpetua Titling MT;
}

body{
    animation: colour 10s infinite ease;
}
#box{
    max-width: 600px;
    height: auto;
    background-color:rgb(0, 0, 0);
    animation: colour 10s infinite ease;
}
@keyframes colour {
    0%{
        background-color:rgb(0, 0, 0);
    }
    10%{
        background-color:rgb(84, 84, 84);
    }
    25%{
        background-color: rgb(100, 99, 99);
    }
    50%{
        background-color: rgb(89, 87, 87);
    }
    70%{
        background-color: rgb(52, 53, 53);
    }
    100%{
        background-color:rgb(0, 0, 0);
    }
}

#clock{
    color: rgb(0, 255, 255);
    background-color: rgb(0, 0, 0);
   border-style:ridge;
   box-shadow: 1px 1px 40px rgb(255, 0, 0);
    max-width: 450px;
    height: auto;
    align-content: center;
    animation: colour 10s infinite ease;
}
#innerClock{
    justify-items: center;
    font-size:70px;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 5px black;
    color: aqua;
    opacity: 100%;

}
#second{
    color: red;
}