body{
    background-color: black;
    display: flex;
    justify-content: center;
    
    
}
#cont{
    max-width: 900px;
    height: 600px;
    background-color: rgb(193, 170, 170);
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;

}
h1{
    color: red;
}
p{
    font-size: 20px;
    font-family:Felix Titling ;
}
input{
    
}
 button{
   
    background-color: rgb(152, 254, 220);
    color: rgb(0, 0, 0);
    border: 2px solid red;
    box-shadow: 2px 2px 1px black;
    border-radius: 20px;
    width:20mm ;
    height: 10mm;

 }
button:hover{
    box-shadow:1px 1px 20px red;
}



